@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Varela Round', sans-serif;
    height: 100vh;
    color: white;
}

.about {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.950), rgba(0, 0, 0, 0.5)60%), url('../public/img/about1.jpg');

    &__contacts {
        position: relative;
        top: 2.5%;
        left: 85%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        width: 15%;
        padding: 1%;

        &--icon {
            width: 50%;
        }
    }

    &__backBtn {
        position: absolute;
        top: 5%;
        left: 7%;
        font-size: 1.1rem;
        padding: 0.3% 0.8%;
        border: 1px solid white;
        border-radius: 0.7rem;
        color: white;

        &:hover {
            background-color: rgba(128, 128, 128, 0.300);
            transition: ease-in-out 0.1s;
        }
    }

    &__content {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 80%;

        &--header {
            font-size: 2.1rem;
            margin: 2% 0%;
        }

        &--paragOne {
            font-size: 1.2rem;
        }

        &--paragTwo {
            font-size: 1.2rem;
            width: 69%;
        }
    }
}

#hobbies {
    position: fixed;
    top: 60%;
    left: 10%;
    display: none;
    width: 50%;
    background-color: black;
    border: 1px solid white;

    &__flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__content {
        text-align: center;
        width: 60%;

        &>p {
            font-size: 1.1rem;
            padding: 1% 0;
        }
    }

    &__img {
        width: 100%;
    }
}

#btnHobbie {
    position: absolute;
    top: 40vh;
    // left: 7vh;
    background: none;
    font-size: 1.5rem;
    padding: 0.3% 0.8%;
    border: 1px solid white;
    border-radius: 0.7rem;
    color: white;
    cursor: pointer;
}

#btnClose {
    position: absolute;
    top: 5%;
    left: 3%;
    border: 1px solid white;
    background: none;
    color: white;
    border-radius: 0.2rem;
    padding: 0.8% 1%;
    cursor: pointer;
}