@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import 'aboutstyle.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    height: 100vh;
    color: white;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    overflow: hidden;
    // width: 100vw;
    height: 100vh;
}

.sidebar {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;

    &>div {
        width: 100%;
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

.main-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;

    &>div {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100%;
    }
}


.aboutMe {
    text-align: center;
    color: white;

    &__header1 {
        position: relative;
        top: 10%;
    }

    &__header2 {
        position: relative;
        top: 12%;
    }

    &__header3 {
        position: relative;
        top: 14%;
    }

    &__parag {
        position: relative;
        top: 20%;
        left: 10%;
        width: 80%;
        font-size: 1.3rem;
    }

    &__lang {
        position: absolute;
        top: 4%;
        left: 83%;
        color: rgb(41, 39, 39);
        font-size: 1rem;

        .lengenhe {
            text-decoration: none;
            padding: 1% 5%;
            margin: 0% 5%;
            border-radius: 0.5rem;
            background-color: white;
        }

        .active {
            background-color: rgb(7, 83, 102);
            color: white;
            box-shadow: 0 0 5px rgb(19, 72, 85), 0 0 3px;
        }
    }

    &__contacts {
        position: relative;
        top: 2.5%;
        left: 2%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        width: 15%;
        padding: 1%;

        &--icon {
            width: 70%;
        }
    }

    &__pic {
        height: 100vh;
    }

    .titleHref {
        display: inline-block;

        &:hover::after {
            content: attr(data-title);
            position: absolute;
            top: 85%;
            margin-left: -3rem;
            background-color: rgb(27, 45, 82);
            font-size: 0.8rem;
            color: white;
            border-radius: 0.5rem;
            padding: 2% 3%;
            z-index: 1;
        }
    }

    .downloadCV {
        padding: 0.5% 1%;
        border: 2px solid yellow;
        border-radius: 0.5rem;
        color: white;
        position: absolute;
        top: 12%;
        left: 3%;

        &:hover {
            background-color: rgba(55, 197, 150, 0.8);
            transition: ease-in-out 0.1s;
        }

    }
}

.mySkills {
    &__pic {
        height: 100vh;
    }

    &__header {
        font-size: 4.5rem;
        position: relative;
        top: 45%;

    }
}

.myWork {
    height: 100vh;

    &__content {
        position: relative;
        top: 10%;
        left: 0%;
    }

    &__works {
        position: relative;
        top: 10%;
        left: 0%;
    }

    &__projects {
        position: relative;
        top: 5%;
        left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80vh;

        &--num {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            color: white;
            background-color: blue;
            width: 90%;
            justify-items: center;




            &__header {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            &__about {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
            }
        }
    }
}

.hobbies {
    &--header {
        position: relative;
        top: 20%;
    }

    &>p {
        position: relative;
        top: 30%;
        font-size: 1.5rem;
        padding: 2%;
    }

    &__pic {
        height: 100vh;

    }
}

.contact {
    height: 100vh;
    text-align: center;
    font-size: 1.1rem;

    &__flex {
        position: absolute;
        top: 20%;
        left: 20%;
        display: flex;
        flex-direction: column;

        &--header {
            padding: 10% 0%;
            font-size: 2.5rem;

            &__content {
                padding: 5% 0%;
            }
        }
    }

    &__links {
        padding: 3% 0%;
        font-weight: bold;
        font-size: 1.3rem;

        &>a {
            color: rgb(46, 43, 226);
        }
    }
}

button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.8%;

    &:hover {
        color: #222;
    }

    &:focus {
        outline: none;
    }
}


.container .controls button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.container .controls .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.container .controls .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}