@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

h1 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
}

p {
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;

    &>div {
        // height: 100%;
        width: 100%;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        // height: 100%;
        // width: 100%;
    }
}



.main-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;

    &>div {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100%;
        width: 100%;
    }
}

.aboutMe {
    &__header {
        position: relative;
        top: 10%;
    }

    &__parag {
        position: relative;
        top: 15%;
    }

    &__lang {
        position: absolute;
        top: 1%;
        left: 89%;
        color: black;
        font-size: 1.2rem;
        padding: 1% 2%;

        &>a {
            text-decoration: none;
            padding: 5% 10%;
            margin: 0% 10%;
            border-radius: 0.5rem;
            background-color: white;
        }
    }

    &__pic {
        height: 100vh;
    }
}

.mySkills {
    &__pic {
        height: 100vh;
    }

}

.myWork {
    height: 100vh;
}

.hobbies {
    &--header {
        position: relative;
        top: 20%;
    }

    &>p {
        position: relative;
        top: 30%;
        font-size: 1.5rem;
        padding: 2%;
    }
}

.hobbiesPic {
    height: 100vh;
}



.contact {
    height: 100vh;
    text-align: center;
    font-size: 1.1rem;

    &__flex {
        position: absolute;
        top: 20%;
        left: 20%;
        display: flex;
        flex-direction: column;

        &--header {
            padding: 10% 0%;
            font-size: 2.5rem;

            &__content {
                padding: 5% 0%;
            }
        }
    }

    &__links {
        padding: 3% 0%;
        font-weight: bold;
        font-size: 1.3rem;

        &>a {
            color: rgb(46, 43, 226);
        }
    }
}

button {
    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.8%;

    &:hover {
        color: #222;
    }

    &:focus {
        outline: none;
    }
}


.container .controls button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.container .controls .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.container .controls .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}