.contact {
    height: 100vh;
    text-align: center;

    &__header {
        font-size: 4.5rem;
        position: relative;
        top: 42%;
    }

    &__flex {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 50vh;
        // align-items: center;

        &--header {
            border-bottom: 1px solid white;
            width: 15%;
            margin: 0% 0% 2% 42.5%;
            font-size: 1.8rem;
        }

    }

    &__links {
        color: rgb(169, 97, 228);
        font-size: 1.3rem;

        &>a {
            color: rgb(169, 97, 228);
        }


    }



}