.mySkills {
    &__pic {
        height: 100vh;
    }

    &__header {
        font-size: 4.5rem;
        position: relative;
        top: 42%;
        left: 28%;
    }

    &__content {
        position: relative;
        top: 23%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        text-shadow: 0px 0px 10px grey, 0px 0px 5px grey;

        &--header {
            font-size: 2.5rem;
            margin-bottom: 2%;
        }

        &--parag {
            font-size: 1.3rem;
            margin: 0% 10%;

            &>p {
                padding: 2% 0%;
            }
        }
    }




}