.myWork {
    height: 100vh;
    background: linear-gradient(270deg, rgba(16, 245, 212, 1) 18%, rgba(27, 209, 97, 1) 97%);

    &__content {
        position: relative;
        top: 10%;
        left: 0%;
    }

    &__works {
        position: relative;
        top: 10%;
        left: 0%;
    }

    &__projects {
        position: relative;
        top: 5%;
        left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80vh;

        &--num {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            color: white;
            background-color: rgb(13, 13, 117);
            width: 90%;
            justify-items: center;




            &__header {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            &__about {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
            }
        }
    }
}

.myWorkLeft {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.950), rgba(0, 0, 0, 0.5)60%), url('../public/img/works.jpg');
    height: 100vh;
    text-align: center;

    &__header {
        font-size: 4.5rem;
        position: relative;
        top: 42%;

    }
}