.myWork {
    height: 100vh;
    background: linear-gradient(225deg, #74EBD5 0%, #7f8fe4 100%);


    &__projects {
        position: relative;
        // top: 5%;
        // left: 10%;
        // width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &--content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 40%;
            justify-items: center;
            align-items: center;
            margin: 2% 5%;
            color: black;



            background-color: white;
            border-radius: 1rem;
            // border: 1px solid black;

            &__img {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
                margin-top: 5%;
                width: 70%;
                border-radius: 1rem;
            }

            &__header {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
            }

            &__parag {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 4;
                grid-row-end: 5;
            }

            &__link {

                background-color: rgb(221, 221, 221);
                color: rgb(34, 139, 52);
                border-radius: 0.5rem;
                padding: 2% 4%;
                margin: 5% 0%;
            }
        }

    }
}

.myWorkLeft {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.950), rgba(0, 0, 0, 0.5)60%), url('../public/img/works.jpg');
    height: 100vh;
    text-align: center;

    &__header {
        font-size: 4.5rem;
        position: relative;
        top: 42%;

    }
}