@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
.about {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), color-stop(60%, rgba(0, 0, 0, 0.5))), url("../public/img/about1.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.5) 60%), url("../public/img/about1.jpg");
}

.about__contacts {
  position: relative;
  top: 2.5%;
  left: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
  padding: 1%;
}

.about__contacts--icon {
  width: 50%;
}

.about .titleHref {
  display: inline-block;
}

.about .titleHref:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 85%;
  margin-left: -3rem;
  background-color: #1b2d52;
  font-size: 0.8rem;
  color: white;
  border-radius: 0.5rem;
  padding: 2% 3%;
  z-index: 1;
}

.about__backBtn {
  position: absolute;
  top: 5%;
  left: 7%;
  font-size: 1.1rem;
  padding: 0.3% 0.8%;
  border: 1px solid white;
  border-radius: 0.7rem;
  color: white;
}

.about__backBtn:hover {
  background-color: rgba(128, 128, 128, 0.3);
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.about__content {
  text-align: center;
  position: absolute;
  top: 12%;
  left: 28.5%;
  width: 43%;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.about__content--header {
  font-size: 2.1rem;
}

.about__content--paragOne {
  padding: 2% 0%;
}

.hobbiesBtn {
  color: white;
  font-size: 1.3rem;
  position: absolute;
  top: 85%;
  left: 7.5%;
  border: 1px solid white;
  border-radius: 0.8rem;
  padding: 0.5% 0.8%;
}

.hobbiesBtn:hover {
  background-color: rgba(21, 182, 231, 0.335);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hobbies__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.hobbies__flex--text {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  padding: 10% 0% 2% 0%;
}

.hobbies__flex--text > p {
  padding: 1.5% 0%;
}

.hobbies__flex--img {
  width: 100%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3% 1%;
}

.popup__content {
  background-color: white;
  color: black;
  max-width: 800px;
  padding: 1%;
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}

.popup__close {
  position: absolute;
  top: 5%;
  left: 3%;
  font-size: 1.1rem;
  color: black;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5% 1%;
}

.popup__title {
  position: absolute;
  top: 25%;
  left: 18%;
  font-size: 1.5rem;
  margin: 0 0 4% 0;
  border-bottom: 1px solid black;
}

.contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), color-stop(60%, rgba(0, 0, 0, 0.8))), url("../public/img/connecting.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.8) 60%), url("../public/img/connecting.jpg");
  height: 100vh;
  text-align: center;
}

.contact__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 70vh;
  width: 80%;
  position: relative;
  top: 17%;
  left: 10%;
  background-color: rgba(1, 151, 251, 0.1);
  border-radius: 1rem;
}

.contact__flex--header {
  border-bottom: 1px solid white;
  width: 20%;
  margin: 0% 0% 2% 40%;
  font-size: 1.8rem;
}

.contact__links {
  font-size: 1.3rem;
}

.contact__links > a {
  color: #f1cfae;
}

.contact__whatsapp {
  position: relative;
  top: -65%;
  left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 3px solid #267426;
  border-radius: 0.5rem;
  width: 20%;
  padding: 0.5% 1%;
  color: white;
}

.contact__whatsapp:hover {
  background-color: rgba(177, 228, 190, 0.2);
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.contact__whatsapp > img {
  width: 15%;
}

.contactLeft {
  background: -webkit-gradient(linear, right top, left top, color-stop(20%, #1378b9), color-stop(81%, #1fcde2));
  background: linear-gradient(270deg, #1378b9 20%, #1fcde2 81%);
  height: 100vh;
  text-align: center;
}

.contactLeft__header {
  font-size: 4.5rem;
  position: relative;
  top: 42%;
}

.homePage {
  height: 100vh;
  text-align: center;
  color: white;
  background: linear-gradient(80deg, #7564e7 6%, #a445d7 97%);
}

.homePage__header1 {
  position: relative;
  top: 29%;
  font-size: 3rem;
}

.homePage__header2 {
  position: relative;
  top: 31%;
  font-size: 2.5rem;
}

.homePage__moreMe {
  position: relative;
  top: 40%;
  font-size: 1.3rem;
  color: white;
  border: 2px solid white;
  border-radius: 0.5rem;
  padding: 0.5% 1%;
}

.homePage__moreMe:hover {
  background-color: rgba(117, 167, 149, 0.431);
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.homePage__whatsup {
  position: relative;
  top: 50%;
  left: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 3px solid #31ac31;
  border-radius: 0.5rem;
  width: 20%;
  padding: 0.5% 1%;
  background-color: #156215;
  color: white;
}

.homePage__whatsup:hover {
  background-color: rgba(17, 158, 17, 0.746);
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.homePage__whatsup > img {
  width: 15%;
}

.homePage__lang {
  position: absolute;
  top: 4%;
  left: 90%;
  color: #292727;
  font-size: 1rem;
}

.homePage__lang .lengenhe {
  text-decoration: none;
  padding: 3% 8%;
  margin: 0% 10%;
  border-radius: 0.5rem;
  background-color: white;
}

.homePage__lang .active {
  background-color: rgba(55, 197, 150, 0.8);
  color: white;
  -webkit-box-shadow: 0 0 5px #134855, 0 0 3px;
          box-shadow: 0 0 5px #134855, 0 0 3px;
}

.homePage__contacts {
  position: relative;
  top: 2.5%;
  left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
  padding: 1%;
}

.homePage__contacts--icon {
  width: 70%;
}

.homePage .titleHref {
  display: inline-block;
}

.homePage .titleHref:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 85%;
  margin-left: -3rem;
  background-color: #1b2d52;
  font-size: 0.8rem;
  color: white;
  border-radius: 0.5rem;
  padding: 2% 3%;
  z-index: 1;
}

.homePage .downloadCV {
  padding: 0.5% 1%;
  border: 2px solid yellow;
  border-radius: 0.5rem;
  color: white;
  position: absolute;
  top: 12%;
  left: 4.3%;
}

.homePage .downloadCV:hover {
  background-color: rgba(55, 197, 150, 0.8);
  -webkit-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

.homePageLeft {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), color-stop(60%, rgba(0, 0, 0, 0.3))), url("../public/img/firstPage.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3) 60%), url("../public/img/firstPage.jpg");
  height: 100vh;
}

.mySkills {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 67, 226, 0.5)), color-stop(60%, rgba(40, 28, 153, 0.4))), url("../public/img/skill.jpg");
  background-image: linear-gradient(to bottom, rgba(55, 67, 226, 0.5), rgba(40, 28, 153, 0.4) 60%), url("../public/img/skill.jpg");
}

.mySkills__content {
  position: relative;
  top: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-shadow: 0px 0px 10px grey, 0px 0px 5px grey;
}

.mySkills__content--header {
  font-size: 2.5rem;
  margin-bottom: 2%;
}

.mySkills__content--parag {
  font-size: 1.3rem;
  margin: 0% 10%;
}

.mySkills__content--parag > p {
  padding: 2% 0%;
}

.mySkillsLeft {
  background: linear-gradient(113deg, #d61013 0%, #784BA0 50%, #2B86C5 100%);
  height: 100vh;
  text-align: center;
}

.mySkillsLeft__header {
  font-size: 4.5rem;
  position: relative;
  top: 42%;
}

.myWork {
  height: 100vh;
  background: linear-gradient(225deg, #74EBD5 0%, #7f8fe4 100%);
}

.myWork__projects {
  position: relative;
  top: 5%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.myWork__projects--content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.8rem;
  width: 90%;
  height: 18vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.myWork__projects--content__firstProject {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), color-stop(60%, rgba(0, 0, 0, 0.3))), url("../public/img/Capture.JPG");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) 60%), url("../public/img/Capture.JPG");
}

.myWork__projects--content__firstProject:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), color-stop(60%, rgba(0, 0, 0, 0.05))), url("../public/img/Capture.JPG");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) 60%), url("../public/img/Capture.JPG");
}

.myWork__projects--content__info {
  position: relative;
  left: 73%;
  top: 10%;
  text-align: center;
  background-color: rgba(83, 173, 246, 0.95);
  width: 25%;
  padding: 1% 2% 7% 2%;
  border-radius: 0.8rem;
}

.myWork__projects--content__info > h2,
.myWork__projects--content__info > h3 {
  padding: 1% 0;
  margin: 0;
  color: white;
  text-shadow: 0px 0px 5px #444444;
}

.myWork__projects--content__linkGit {
  position: relative;
  bottom: 7.2vh;
  left: 70.5%;
  width: 13%;
  padding: 0.5% 2%;
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 0.8rem;
  color: white;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.myWork__projects--content__linkGit > img {
  width: 25%;
}

.myWork__projects--content__linkGit:hover {
  background-color: #2081f0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.myWorkLeft {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), color-stop(60%, rgba(0, 0, 0, 0.5))), url("../public/img/works.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.5) 60%), url("../public/img/works.jpg");
  height: 100vh;
  text-align: center;
}

.myWorkLeft__header {
  font-size: 4.5rem;
  position: relative;
  top: 42%;
}

@media only screen and (max-width: 1024px) {
  .homePage__header1 {
    top: 32%;
    font-size: 3rem;
  }
  .homePage__header2 {
    width: 90%;
    top: 35%;
    left: 5%;
  }
  .homePage__moreMe {
    top: 45%;
    font-size: 1.3rem;
  }
  .homePage__whatsup {
    top: 50%;
    left: 35%;
    width: 30%;
  }
  .homePage__lang {
    top: 3%;
    left: 85%;
  }
  .homePage__contacts {
    width: 22%;
  }
  .homePage .downloadCV {
    top: 7%;
    left: 4%;
  }
}

@media only screen and (max-width: 770px) {
  .homePage__header1 {
    top: 32%;
    font-size: 3rem;
  }
  .homePage__header2 {
    width: 90%;
    top: 35%;
    left: 5%;
  }
  .homePage__moreMe {
    top: 45%;
    font-size: 1.3rem;
    padding: 1% 2%;
  }
  .homePage__whatsup {
    top: 50%;
    left: 32.5%;
    width: 35%;
    padding: 1% 1.5%;
  }
  .homePage__whatsup > img {
    width: 15%;
  }
  .homePage__lang {
    top: 3%;
    left: 80%;
  }
  .homePage__contacts {
    width: 27%;
  }
  .homePage .downloadCV {
    top: 8%;
    left: 4%;
  }
}

@media only screen and (max-width: 415px) {
  .homePage__header1 {
    top: 32%;
    font-size: 2rem;
  }
  .homePage__header2 {
    width: 90%;
    top: 35%;
    left: 5%;
    font-size: 1.5rem;
  }
  .homePage__whatsup {
    top: 50%;
    left: 17.5%;
    width: 70%;
    padding: 1.5% 2%;
  }
  .homePage__whatsup > img {
    width: 15%;
  }
  .homePage__lang {
    top: 3%;
    left: 70%;
  }
  .homePage__contacts {
    width: 45%;
  }
  .homePage .downloadCV {
    padding: 1% 1.5%;
    top: 8%;
    left: 4%;
  }
}

@media only screen and (max-width: 375px) {
  .homePage__header1 {
    font-size: 1.8rem;
  }
  .homePage__header2 {
    font-size: 1.3rem;
  }
  .homePage__whatsup {
    left: 15%;
  }
  .homePage__lang {
    left: 65%;
  }
  .homePage__contacts {
    width: 50%;
  }
  .homePage .downloadCV {
    top: 9%;
    left: 4%;
  }
}

@media only screen and (max-width: 320px) {
  .homePage__header1 {
    font-size: 1.5rem;
  }
  .homePage__header2 {
    font-size: 1.2rem;
  }
  .homePage__moreMe {
    font-size: 1.1rem;
    padding: 1.5% 2.5%;
  }
  .homePage__whatsup {
    left: 10%;
    width: 80%;
  }
  .homePage__lang {
    left: 60%;
  }
  .homePage__contacts {
    width: 55%;
  }
  .homePage .downloadCV {
    top: 11%;
    left: 4%;
  }
}

@media only screen and (max-width: 1024px) {
  .mySkills {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 67, 226, 0.5)), color-stop(60%, rgba(40, 28, 153, 0.4))), url("../public/img/SkillsMy.jpg");
    background-image: linear-gradient(to bottom, rgba(55, 67, 226, 0.5), rgba(40, 28, 153, 0.4) 60%), url("../public/img/SkillsMy.jpg");
  }
  .mySkills__content {
    top: 30%;
  }
  .mySkills__content--parag {
    font-size: 1.5rem;
  }
  .mySkills__content--parag > p {
    padding: 2.2% 0%;
  }
  .mySkillsLeft__header {
    font-size: 4.5rem;
    top: 48%;
  }
}

@media only screen and (max-width: 770px) {
  .mySkills__content {
    top: 25%;
  }
  .mySkillsLeft__header {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 415px) {
  .mySkills__content {
    top: 20%;
    text-shadow: 0px 0px 5px #574f4f, 0px 0px 10px #3d3a3a;
  }
  .mySkills__content--header {
    font-size: 2rem;
  }
  .mySkills__content--parag {
    font-size: 1.2rem;
  }
  .mySkillsLeft__header {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 375px) {
  .mySkills__content {
    top: 17%;
  }
  .mySkills__content--header {
    font-size: 1.8rem;
  }
  .mySkills__content--parag {
    font-size: 1.2rem;
  }
  .mySkillsLeft__header {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 320px) {
  .mySkills__content {
    top: 15%;
  }
  .mySkills__content--header {
    font-size: 1.5rem;
  }
  .mySkills__content--parag {
    font-size: 1.1rem;
  }
  .mySkillsLeft__header {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1024px) {
  .contact__flex--header {
    width: 20%;
    margin: 0% 0% 2% 40%;
    font-size: 2.3rem;
  }
  .contact__links {
    font-size: 1.7rem;
  }
  .contact__whatsapp {
    top: -65%;
    left: 12%;
    width: 35%;
    padding: 1% 1.5%;
  }
  .contactLeft__header {
    font-size: 4rem;
    top: 44%;
  }
}

@media only screen and (max-width: 770px) {
  .contact__flex {
    width: 85%;
    left: 7.5%;
  }
  .contact__flex--header {
    width: 35%;
    margin: 0% 0% 2% 32.5%;
    font-size: 2rem;
  }
  .contact__links {
    font-size: 1.5rem;
  }
  .contact__whatsapp {
    top: -63%;
    left: 10%;
    width: 45%;
    padding: 1% 1.5%;
  }
  .contactLeft__header {
    font-size: 3rem;
    top: 46%;
  }
}

@media only screen and (max-width: 415px) {
  .contact__flex {
    height: 80vh;
    width: 90%;
    top: 10%;
    left: 5%;
  }
  .contact__flex--header {
    width: 35%;
    margin: 0% 0% 2% 32.5%;
    font-size: 1.5rem;
  }
  .contact__links {
    font-size: 0.9rem;
  }
  .contact__whatsapp {
    top: -78%;
    left: 10%;
    width: 80%;
    padding: 1.5% 2%;
  }
  .contact__whatsapp > img {
    width: 15%;
  }
  .contactLeft__header {
    font-size: 1.8rem;
    top: 46%;
  }
}

@media only screen and (max-width: 375px) {
  .contact__flex {
    height: 83vh;
    width: 90%;
    top: 13%;
  }
  .contact__flex--header {
    width: 45%;
    margin: 0% 0% 2% 27.5%;
    font-size: 1.3rem;
  }
  .contact__links {
    font-size: 0.8rem;
  }
  .contact__whatsapp {
    left: 7.5%;
    width: 85%;
    padding: 1.5% 2%;
  }
  .contact__whatsapp > img {
    width: 15%;
  }
  .contactLeft__header {
    font-size: 1.5rem;
    top: 46%;
  }
}

@media only screen and (max-width: 320px) {
  .contact__flex {
    top: 15.5%;
  }
  .contact__flex--header {
    width: 45%;
    margin: 0% 0% 2% 27.5%;
    font-size: 1.3rem;
  }
  .contact__links {
    font-size: 0.7rem;
  }
  .contact__whatsapp {
    left: 2.5%;
    width: 95%;
    padding: 1% 1.5%;
  }
  .contact__whatsapp > img {
    width: 12%;
  }
  .contactLeft__header {
    font-size: 1.3rem;
    top: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .about__contacts {
    left: 75%;
    width: 25%;
  }
  .about__backBtn {
    left: 7%;
    font-size: 1.4rem;
    padding: 0.6% 1.2%;
    border: 1px solid white;
    border-radius: 0.7rem;
  }
  .about__content {
    top: 12%;
    left: 17.5%;
    width: 65%;
    font-size: 1.5rem;
    line-height: 2.7rem;
  }
  .hobbiesBtn {
    font-size: 1.5rem;
    top: 79%;
    padding: 0.5% 1.2%;
  }
  .hobbies__flex--text {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 770px) {
  .about__contacts {
    left: 70%;
    width: 30%;
  }
  .about__backBtn {
    top: 3.5%;
  }
  .about__content {
    top: 12%;
    left: 10%;
    width: 80%;
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
}

@media only screen and (max-width: 415px) {
  .about {
    height: 165vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), color-stop(60%, rgba(0, 0, 0, 0.7))), url("../public/img/about1.jpg");
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.7) 60%), url("../public/img/about1.jpg");
  }
  .about__contacts {
    left: 60%;
    width: 40%;
    padding: 0.5%;
  }
  .about__contacts--icon {
    width: 60%;
  }
  .about__backBtn {
    top: 4.5%;
    font-size: 1.1rem;
    padding: 1% 1.5%;
  }
  .about__content {
    left: 7.5%;
    width: 85%;
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .about__content--header {
    margin: 5% 0%;
  }
  .hobbiesBtn {
    font-size: 1.4rem;
    top: 71rem;
    left: 32%;
    padding: 1% 2%;
  }
  .hobbies__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hobbies__flex--img {
    width: 80%;
    margin: 0% 10%;
  }
  .popup__close {
    top: 2%;
  }
  .popup__title {
    top: 2%;
    left: 38%;
  }
}

@media only screen and (max-width: 375px) {
  .about {
    height: 200vh;
  }
  .hobbiesBtn {
    top: 79rem;
    left: 31.5%;
  }
}

@media only screen and (max-width: 320px) {
  .about {
    height: 235vh;
  }
  .about__contacts {
    top: 1.2%;
    left: 50%;
    width: 50%;
  }
  .about__backBtn {
    padding: 1.2% 1.7%;
  }
  .about__content {
    left: 3%;
    width: 94%;
  }
  .hobbiesBtn {
    top: 78.5rem;
    left: 29.5%;
    padding: 1.2% 2.2%;
  }
  .hobbies__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hobbies__flex--img {
    width: 80%;
    margin: 0% 10%;
  }
  .popup__close {
    top: 2%;
  }
  .popup__title {
    top: 2%;
    left: 35%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
  height: 100vh;
  color: white;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.sidebar > div {
  width: 100%;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.main-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.8%;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  left: 35%;
  top: 75%;
  z-index: 100;
}

.container .controls .down-button {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.container .controls .up-button {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
/*# sourceMappingURL=style.css.map */