//1024px
@media only screen and (max-width: 1024px) {
    .about {
        // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.950), rgba(0, 0, 0, 0.5)60%), url('../public/img/about1.jpg');

        &__contacts {
            left: 75%;
            width: 25%;
        }

        &__backBtn {
            left: 7%;
            font-size: 1.4rem;
            padding: 0.6% 1.2%;
            border: 1px solid white;
            border-radius: 0.7rem;
        }

        &__content {
            top: 12%;
            left: 17.5%;
            width: 65%;
            font-size: 1.5rem;
            line-height: 2.7rem;
        }
    }

    .hobbiesBtn {
        font-size: 1.5rem;
        top: 79%;
        padding: 0.5% 1.2%;
    }

    .hobbies__flex {
        &--text {
            font-size: 1.3rem;
        }
    }
}

//770px
@media only screen and (max-width: 770px) {
    .about {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.950), rgba(0, 0, 0, 0.5)60%), url('../public/img/about1.jpg');

        &__contacts {
            left: 70%;
            width: 30%;
        }

        &__backBtn {
            top: 3.5%;
        }

        &__content {
            top: 12%;
            left: 10%;
            width: 80%;
            font-size: 1.3rem;
            line-height: 2.2rem;
        }
    }
}

//415px
@media only screen and (max-width: 415px) {
    .about {
        height: 165vh;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.950), rgba(0, 0, 0, 0.7)60%), url('../public/img/about1.jpg');

        &__contacts {
            left: 60%;
            width: 40%;
            padding: 0.5%;

            &--icon {
                width: 60%;
            }
        }

        &__backBtn {
            top: 4.5%;
            font-size: 1.1rem;
            padding: 1% 1.5%;
        }

        &__content {
            left: 7.5%;
            width: 85%;
            font-size: 1.2rem;
            line-height: 2rem;

            &--header {
                margin: 5% 0%;
            }
        }
    }

    .hobbiesBtn {
        font-size: 1.4rem;
        top: 71rem;
        left: 32%;
        padding: 1% 2%;
    }

    .hobbies__flex {
        flex-direction: column;
        width: 100%;

        align-items: center;

        &--text {
            width: 100%;
            font-size: 1.1rem;
            padding: 2% 0%;
            position: relative;
            top: 50%;
            // margin: 5% 0%;

            &>p {
                padding: 0.5% 0%;
            }
        }

        &--img {
            width: 60%;
            // padding: 0% 0% 0% 7.5%;
            // position: relative;
            // left: 7.5%;
        }
    }

    .popup {
        &__body {
            min-height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3% 1%;
        }

        &__content {
            background-color: white;
            color: black;
            max-width: 800px;
            padding: 1%;
        }

        &__close {
            top: 5%;
            left: 3%;
            font-size: 1.1rem;
            padding: 0.5% 1%;
        }

        &__title {
            top: 0%;
            left: 18%;
            font-size: 1.5rem;
            margin: 0 0 4% 0;
        }
    }
}

//375px
@media only screen and (max-width: 375px) {}

//320px
@media only screen and (max-width: 320px) {}