//1024px
@media only screen and (max-width: 1024px) {
    .homePage {

        &__header1 {
            top: 32%;
            font-size: 3rem;
        }

        &__header2 {
            width: 90%;
            top: 35%;
            left: 5%;
        }

        &__moreMe {
            top: 45%;
            font-size: 1.3rem;
        }

        &__whatsup {
            top: 50%;
            left: 35%;
            width: 30%;
        }

        &__lang {
            top: 3%;
            left: 85%;
        }

        &__contacts {
            width: 22%;
        }

        .downloadCV {
            top: 7%;
            left: 4%;
        }
    }
}

//770px
@media only screen and (max-width: 770px) {
    .homePage {
        &__header1 {
            top: 32%;
            font-size: 3rem;
        }

        &__header2 {
            width: 90%;
            top: 35%;
            left: 5%;
        }

        &__moreMe {
            top: 45%;
            font-size: 1.3rem;
            padding: 1% 2%;
        }

        &__whatsup {
            top: 50%;
            left: 32.5%;
            width: 35%;
            padding: 1% 1.5%;

            &>img {
                width: 15%;
            }
        }

        &__lang {
            top: 3%;
            left: 80%;
        }

        &__contacts {
            width: 27%;
        }


        .downloadCV {
            top: 8%;
            left: 4%;

        }
    }
}

//415px
@media only screen and (max-width: 415px) {
    .homePage {
        &__header1 {
            top: 32%;
            font-size: 2rem;
        }

        &__header2 {
            width: 90%;
            top: 35%;
            left: 5%;
            font-size: 1.5rem;
        }

        &__whatsup {
            top: 50%;
            left: 17.5%;
            width: 70%;
            padding: 1.5% 2%;

            &>img {
                width: 15%;
            }
        }

        &__lang {
            top: 3%;
            left: 70%;
        }

        &__contacts {
            width: 45%;
        }

        .downloadCV {
            padding: 1% 1.5%;
            top: 8%;
            left: 4%;

        }
    }


}

//375px
@media only screen and (max-width: 375px) {
    .homePage {
        &__header1 {
            font-size: 1.8rem;
        }

        &__header2 {
            font-size: 1.3rem;
        }

        &__whatsup {
            left: 15%;
        }

        &__lang {
            left: 65%;
        }

        &__contacts {
            width: 50%;
        }

        .downloadCV {
            top: 9%;
            left: 4%;
        }
    }
}

//320px
@media only screen and (max-width: 320px) {
    .homePage {
        &__header1 {
            font-size: 1.5rem;
        }

        &__header2 {
            font-size: 1.2rem;
        }

        &__moreMe {
            font-size: 1.1rem;
            padding: 1.5% 2.5%;
        }

        &__whatsup {
            left: 10%;
            width: 80%;
        }

        &__lang {
            left: 60%;
        }

        &__contacts {
            width: 55%;
        }


        .downloadCV {
            top: 11%;
            left: 4%;
        }
    }
}