.about {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.950), rgba(0, 0, 0, 0.5)60%), url('../public/img/about1.jpg');

    &__contacts {
        position: relative;
        top: 2.5%;
        left: 85%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        width: 15%;
        padding: 1%;

        &--icon {
            width: 50%;
        }
    }

    .titleHref {
        display: inline-block;

        &:hover::after {
            content: attr(data-title);
            position: absolute;
            top: 85%;
            margin-left: -3rem;
            background-color: rgb(27, 45, 82);
            font-size: 0.8rem;
            color: white;
            border-radius: 0.5rem;
            padding: 2% 3%;
            z-index: 1;
        }
    }

    &__backBtn {
        position: absolute;
        top: 5%;
        left: 7%;
        font-size: 1.1rem;
        padding: 0.3% 0.8%;
        border: 1px solid white;
        border-radius: 0.7rem;
        color: white;

        &:hover {
            background-color: rgba(128, 128, 128, 0.300);
            transition: ease-in-out 0.1s;
        }
    }

    &__content {
        text-align: center;
        position: absolute;
        top: 12%;
        left: 28.5%;
        width: 43%;
        font-size: 1.5rem;
        line-height: 2.5rem;

        &--header {
            font-size: 2.1rem;
        }

        &--paragOne {
            padding: 2% 0%;
        }
    }
}

.hobbiesBtn {
    color: white;
    font-size: 1.3rem;
    position: absolute;
    top: 85%;
    left: 7.5%;
    border: 1px solid white;
    border-radius: 0.8rem;
    padding: 0.5% 0.8%;

    &:hover {
        background-color: rgba(21, 182, 231, 0.335);
        transition: all 0.5s;
    }
}

.hobbies__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    &--text {
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
        padding: 10% 0% 2% 0%;

        &>p {

            padding: 1.5% 0%;
        }
    }

    &--img {
        width: 100%;
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

    &.open {
        opacity: 1;
        visibility: visible;

        & .popup__content {
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }

    &__area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3% 1%;
    }

    &__content {
        background-color: white;
        color: black;
        max-width: 800px;
        padding: 1%;
        position: relative;
        opacity: 0;
        transition: all 0.8s ease 0s;
        transform: translate(0px, -100%);
    }

    &__close {
        position: absolute;
        top: 5%;
        left: 3%;
        font-size: 1.1rem;
        color: black;
        border: 1px solid black;
        border-radius: 0.5rem;
        padding: 0.5% 1%;
    }

    &__title {
        position: absolute;
        top: 25%;
        left: 19%;
        font-size: 1.5rem;
        margin: 0 0 4% 0;
        border-bottom: 1px solid black;
    }
}