.contact {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.950), rgba(0, 0, 0, 0.8)60%), url('../public/img/connecting.jpg');
    height: 100vh;
    text-align: center;

    &__flex {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70vh;
        width: 80%;
        position: relative;
        top: 17%;
        left: 10%;
        background-color: rgba(1, 151, 251, 0.1);
        border-radius: 1rem;

        &--header {
            border-bottom: 1px solid white;
            width: 20%;
            margin: 0% 0% 2% 40%;
            font-size: 1.8rem;
        }
    }

    &__links {
        font-size: 1.3rem;

        &>a {
            color: rgb(241, 207, 174);
        }
    }

    &__whatsapp {
        position: relative;
        top: -65%;
        left: 4%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border: 3px solid rgb(38, 116, 38);
        border-radius: 0.5rem;
        width: 20%;
        padding: 0.5% 1%;
        color: white;

        &:hover {
            background-color: rgba(177, 228, 190, 0.2);
            transition: ease-in-out 0.1s;
        }

        &>img {
            width: 15%;
        }
    }
}

.contactLeft {
    background: linear-gradient(270deg, rgba(19, 120, 185, 1) 20%, rgba(31, 205, 226, 1) 81%);
    height: 100vh;
    text-align: center;

    &__header {
        font-size: 4.5rem;
        position: relative;
        top: 42%;
    }
}