.myWork {
    height: 100vh;
    background: linear-gradient(225deg, #74EBD5 0%, #7f8fe4 100%);

    &__projects {
        position: relative;
        top: 5%;
        left: 5%;
        display: flex;
        flex-direction: column;

        &--content {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 0.8rem;
            width: 90%;
            height: 18vh;
            display: grid;
            grid-template-rows: repeat(2, 1fr);

            &__firstProject {
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)60%), url('../public/img/Capture.JPG');

                &:hover {
                    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05)60%), url('../public/img/Capture.JPG');
                }
            }

            &__info {
                position: relative;
                left: 73%;
                top: 10%;
                text-align: center;
                background-color: rgba(83, 173, 246, 0.95);
                width: 25%;
                padding: 1% 2% 7% 2%;
                border-radius: 0.8rem;

                &>h2,
                &>h3 {
                    padding: 1% 0;
                    margin: 0;
                    color: white;
                    text-shadow: 0px 0px 5px black;
                }
            }

            &__linkGit {
                position: relative;
                bottom: 7.5vh;
                left: 69.7%;
                width: 15%;
                padding: 0.8% 2.5%;
                background-color: rgba(255, 255, 255, 0.267);
                border-radius: 0.8rem;
                color: white;
                font-size: 1.3rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                &>img {
                    width: 25%;
                }

                &:hover {
                    background-color: rgb(32, 129, 240);
                    transition: all 0.3s;
                }
            }
        }
    }
}

.myWorkLeft {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.950), rgba(0, 0, 0, 0.5)60%), url('../public/img/works.jpg');
    height: 100vh;
    text-align: center;

    &__header {
        font-size: 4.5rem;
        position: relative;
        top: 42%;

    }
}